.buttonStyle(@bgColor,@color, @width, @radius, @border, @height) {
    background-color: @bgColor;
    color: @color;
    width: @width;
    border-radius: @radius;
    border: @border;
    height: @height;
    font-size: 1.6rem;
}

.flex() {
    display: flex;
}

// Mixins in here