.navigation {
    width: 100%;
    .flex();
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;
    margin-top: 30px;
    padding-bottom: 20px;
    .links {
        width: 50%;
        align-self: center;
        .flex();
        justify-content: space-evenly;
       a {
           text-decoration: none;
           color: @shark;
           font-size: 1.4rem;
       }
    }
}




// Navigation Styles here